*::before,
*::after{
    box-sizing: border-box;
}
*{
    position: relative;
    margin :0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    position: relative;
    width:100%;
    font-family: sans-serif;
}
.container{
    position: relative;
    width: 432px;
    background: #ededed;
}
.container .clockBox {
    position: relative;
    padding:16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.clockBox .clock{
    position: relative;
    width: 50px;
    height:50px;
    border-radius: 50%;
    background: #ededed;
    box-shadow: inset -2px 3px 3px #8e8e8e,-3px 4px 3px #8e8e8e;
}
.clockBox .clock .dot{
    position: absolute;
    width:2px;
    height: 2px;
    background: #333;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 50%;
}
.minuteHand{
    position: absolute;
    width:3px;
    height:21px;
    background:#333;
    top:4px;
    left:50%;
    border-radius: 50px;
    margin-left: -2px;
    transform: rotate(45deg);
    transform-origin: 50% 21px;
}
.hourHand{
    position: absolute;
    width:3px;
    height:18px;
    background:#333;
    top:8px;
    left:50%;
    border-radius: 50px;
    margin-left: -2px;
    transform: rotate(90deg);
    transform-origin: 50% 17px;
}